In [1]:
import numpy as np
import pandas as pd

In [2]:
pred = pd.read_csv('../data/pred.csv', names=['patient_id', 'diagnosis'])
pred['patient_id'] = pred['patient_id']
pred.head()

   patient_id diagnosis
0           0      COPD
1           1      COPD
2           2      COPD
3           3      COPD
4           4      COPD

In [28]:
test = pd.read_csv('../data/input/test.csv')
test['patient_id']  = test['patient_id'] - 769
test.head()

,patient_id,age,sex,adult_bmi,child_weight,child_height,id,audio_and_txt_files_path
0,0,73.0,M,29.30,NaN,NaN,22,769
1,1,73.0,M,29.30,NaN,NaN,22,770
2,2,78.0,M,35.14,NaN,NaN,2,771
3,3,74.0,M,27.40,NaN,NaN,1,772
4,4,74.0,M,27.40,NaN,NaN,1,773

In [29]:
test = pd.merge(test, pred, how='inner', on='patient_id')
test.head()

,patient_id,age,sex,adult_bmi,child_weight,child_height,id,audio_and_txt_files_path,diagnosis
0,0,73.0,M,29.30,NaN,NaN,22,769,COPD
1,1,73.0,M,29.30,NaN,NaN,22,770,COPD
2,2,78.0,M,35.14,NaN,NaN,2,771,COPD
3,3,74.0,M,27.40,NaN,NaN,1,772,COPD
4,4,74.0,M,27.40,NaN,NaN,1,773,COPD

In [33]:
id_list = np.unique(test['id'].tolist())
id_list.sort()
diagnosis = []
for id in id_list:
    diagnosis_df = test[test['id'] == id]
    ans = dict()
    for j, vv in diagnosis_df.iterrows():
        if vv['diagnosis'] not in ans:
            ans[vv['diagnosis']] = 1
        else:
            ans[vv['diagnosis']] += 1
    ans = sorted(ans.items(), key=lambda x: x[1], reverse=True)
    print(ans)
    diagnosis.append(ans[0][0])

[('COPD', 23)]
[('COPD', 5)]
[('COPD', 3), ('Bronchiectasis', 2), ('Healthy', 1)]
[('COPD', 1)]
[('COPD', 1), ('Pneumonia', 1)]
[('COPD', 1), ('Bronchiectasis', 1)]
[('COPD', 5)]
[('COPD', 1)]
[('Healthy', 1)]
[('COPD', 1), ('Bronchiectasis', 1)]
[('Bronchiectasis', 2)]
[('COPD', 6)]
[('Pneumonia', 1)]
[('COPD', 21)]
[('Healthy', 1)]
[('Pneumonia', 9), ('Healthy', 2), ('COPD', 1)]
[('Healthy', 1)]
[('Healthy', 1)]
[('Healthy', 1), ('COPD', 1)]
[('COPD', 1)]
[('COPD', 28)]
[('COPD', 27)]

In [34]:
submission = pd.DataFrame({'patient_id': id_list, 'diagnosis': diagnosis})
submission.to_csv('../data/submission.csv', index=None, header=None)
submission.head()

   patient_id diagnosis
0           1      COPD
1           2      COPD
2           3      COPD
3           4      COPD
4           5      COPD